<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /   # Set the base URL here

  # If the requested resource does not exist as a file or directory,
  # redirect it to index.html.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.html [L]
</IfModule>